<div class="container">
  <div class='save' (click)="saveTiles()"></div>
  <ng-container *ngFor="let tileModel of tilesList">
    <ng-container [ngSwitch]="tileModel.type">
      <app-empty-tile #tile *ngSwitchCase="tilesEnum.Empty" (eventAddTile)="addTile($event)"></app-empty-tile>
      <app-histogram-tile #tile [conf]="tileModel" *ngSwitchCase="tilesEnum.Histogram" (deleteEvent)=deleteTile(tileModel)></app-histogram-tile>
      <app-plot-tile #tile [conf]="tileModel" *ngSwitchCase="tilesEnum.Plot" (deleteEvent)=deleteTile(tileModel)></app-plot-tile>
      <app-boxplot-tile #tile [conf]="tileModel" *ngSwitchCase="tilesEnum.Boxplot" (deleteEvent)=deleteTile(tileModel)></app-boxplot-tile>
    </ng-container>
  </ng-container>
</div>
