.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;

  .save {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    background: url(../../../assets/img/icons/save.png) no-repeat center center;
    background-size: contain;
    filter: invert(42%) sepia(18%) saturate(1265%) hue-rotate(159deg) brightness(94%) contrast(87%);
    opacity: 0.6;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}
