@import '../../../assets/colors.scss';
@import 'head.component.dark.scss';
@import 'head.component.light.scss';

.dataset-infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ddd;
  font-size: 12px;

  .name {
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 14px;
    filter: invert(42%) sepia(18%) saturate(1265%) hue-rotate(159deg) brightness(94%) contrast(87%);
    margin-right: 40px;
    margin-bottom: 1px;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background: url(../../../assets/img/icons/database.png) no-repeat center center;
      background-size: contain;
    }
  }

  .size {
    margin-right: 40px;
  }

  .shape {

  }
}

.container {
  max-width: 100%;
  width: fit-content;
  margin: 10px auto;
  overflow-x: auto;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px inset #0004;
  background-color: $onedark-background;

  table {
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    background-color: #0000;

    tr {
      height: 30px;

      &.mat-header-row {
        height: 40px;
      }

      &.hidden {
        display: none;
      }
    }

    th, td {
      padding: 0 10px;
    }

    th {
      color: $table-header;

      &:hover {
        cursor: pointer;
      }
    }

    td {
      font-size: 12px;
    }
  }
}
