@import '../../../assets/colors.scss';

:host-context(.light) .dataset-infos {
  color: #333;

  .name {
    filter: invert(58%) sepia(63%) saturate(3591%) hue-rotate(163deg) brightness(104%) contrast(109%);
  }
}

:host-context(.light) .container {
  box-shadow: 0 0 3px 5px inset #0000001c;
  background-color: white;

  table {
    background-color: #0000;

    th {
      color: #00beff;
      font-weight: 600;
    }

    td {
      color: #969696;
    }
  }
}
