@import '../../../assets/colors.scss';

:host-context(.dark) .dataset-infos {
  color: #ddd;

  .name {
    filter: invert(42%) sepia(18%) saturate(1265%) hue-rotate(159deg) brightness(94%) contrast(87%);
  }
}

:host-context(.dark) .container {
  box-shadow: 0 0 3px 5px inset #0004;
  background-color: $onedark-background;

  table {
    background-color: #0000;

    th {
      color: $table-header;
    }
  }
}
