<div *ngIf="dataset" class='dataset-infos'>
  <span class="name"> {{ dataset }} </span>
  <span class="size"> {{ size }} </span>
  <span class="shape"> {{ rowsCount }} rows x {{ colsCount }} columns</span>
</div>

<div *ngIf="dataset" class='container'>
  <table mat-table [dataSource]="head" class="mat-elevation-z8">
    <ng-container *ngFor="let col of cols" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef cdk-overlay-origin (mouseenter)="displayInfos(col)" (mouseleave)="hideInfos()"> {{ col }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols" (click)="displaySamples = !displaySamples"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;" [ngClass]="displaySamples ? '': 'hidden'"></tr>
  </table>
</div>
