@import '../../../../assets/colors.scss';

:host-context(.light) .container {
  background-color: white;
  box-shadow: 0 0 2px 3px #0002;

  .infos {
    background-color: #0001;
    color: #ddd;

    .header {
      .title {
        color: #00beff;
      }

      .actions {
        filter: invert(58%) sepia(63%) saturate(3591%) hue-rotate(163deg) brightness(104%) contrast(109%);

        div {

          &.edit {

          }

          &.delete {

          }
        }
      }
    }

    .params {
      .palette, .lines, .markers {
        filter: invert(1);
      }
    }
  }
}
