@import '../../../../assets/colors.scss';

:host-context(.dark) .container {
  background-color: $onedark-graph;
  box-shadow: 0 0 2px 3px #0002;

  .infos {
    background-color: #0002;
    color: #ddd;

    .header {
      .title {
        color: $table-header;
      }

      .actions {
        filter: invert(42%) sepia(18%) saturate(1265%) hue-rotate(159deg) brightness(94%) contrast(87%);

        div {
          filter: invert(1);

          &.edit {

          }

          &.delete {

          }
        }
      }
    }

    .params {
      .palette, .lines, .markers {
        filter: invert(1);
      }
    }
  }
}
