@import '../../../../assets/colors.scss';
@import 'tile.common.dark.scss';
@import 'tile.common.light.scss';

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
  resize: both;
  overflow: auto;
  margin: 5px;
  border-radius: 5px;

  .infos {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0 10px;
    box-sizing: border-box;

    .header {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0;
      height: 30px;
      position: relative;
      z-index: 1;

      .title {
        position: absolute;
        width: 100%;
        text-align: center;
      }

      .actions {
        display: flex;
        width: fit-content;
        margin-left: auto;

        div {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          &.edit {
            background-image: url(../../../../assets/img/icons/gear.png);
          }

          &.delete {
            background-image: url(../../../../assets/img/icons/trash.png);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .params {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 10px;

      &.hidden {
        display: none;
      }

      .mat-form-field {
        max-width: 110px;

        &.number {
          max-width: 60px;
        }
      }

      .palette, .lines, .markers {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        &:hover {
          cursor: pointer;
        }
      }

      .palette {
        background-image: url(../../../../assets/img/palette.png);
      }

      .lines {
        background-image: url(../../../../assets/img/lines.png);
      }

      .markers {
        background-image: url(../../../../assets/img/shapes.png);
      }

      * {
        margin: 0 5px;
      }
    }
  }

  .plot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
