<div class="container">
  <div class="infos">
    <div class="header">
      <div class="title"> Plot </div>
      <div class="actions">
        <div class="edit" (click)="paramsVisible = !paramsVisible"></div>
        <div class="delete" (click)="emitDeleteEvent()"></div>
      </div>
    </div>
    <div class='params' [ngClass]="paramsVisible ? 'visible' : 'hidden'">
      <mat-form-field>
        <mat-label> Absciss </mat-label>
        <mat-select [value]="x">
          <mat-option *ngFor="let col of cols" [value]="col" (onSelectionChange)="updateX($event)" color="primary">
            {{ col }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Ordinate </mat-label>
        <mat-select [value]="y">
          <mat-option *ngFor="let col of cols" [value]="col" (onSelectionChange)="updateY($event)" color="primary">
            {{ col }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="palette" cdk-overlay-origin (click)="displayStyleOverlay('colors')" (styleEvent)="setPlotColor($event)"></div>
      <div class="lines" cdk-overlay-origin (click)="displayStyleOverlay('lines')" (styleEvent)="setPlotLine($event)"></div>
      <div class="markers" cdk-overlay-origin (click)="displayStyleOverlay('markers')" (styleEvent)="setPlotMarker($event)"></div>
    </div>

  </div>

  <div class="plot" [ngStyle]="backgroundImageProperty" *ngIf="!isImageLoading; else noImage"></div>
  <ng-template #noImage>
    <div class="plot">
      <div class="spinner"></div>
    </div>
  </ng-template>
</div>
