<div class= container>
  <mat-form-field>
    <mat-label> Add a new tile </mat-label>
    <mat-select>
      <ng-container *ngFor="let type of keys(tilesEnum)">
        <mat-option *ngIf="type !== tilesEnum[tilesEnum.Empty]" [value]="tilesEnum[type]" (onSelectionChange)="addTile($event)" color="primary">
          {{ type }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>
