<div class='container'>
  <div class='app-infos'>
    <span class='title'> Data Absolver </span>
    <span class='version'> version 0.0.1 </span>
    <span class='project'> <a href='https://gitlab.com/data-explorer/dashboard'> https://gitlab.com/data-explorer/dashboard </a> </span>
  </div>
  <div class='app-title'> <span> Data Absolver </span> </div>
  <div class='theme' (click)=switchTheme()></div>
  <div class='data-infos'>
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".csv"/>
    <button mat-flat-button color="primary" (click)="csvInput.click()"> Upload dataset (.csv) </button>
  </div>
  <div class='window-options'>
    <div class="minimize-app-button" (click)="minimizeApp()"></div>
    <div class="maximize-app-button" (click)="maximizeApp()"></div>
    <div class="close-app-button" (click)="closeApp()"></div>
  </div>
</div>

<div class="loading-bar">
  <div class="progress" [ngStyle]="widthProperty" *ngIf="!loaded"></div>
</div>
