@import '../../../assets/colors.scss';

:host-context(.light) .container {
  background: white;
  box-shadow: 0 0 5px 2px #0002;

  .app-infos {
    color: #00beff;
  }

  .app-title {
    //color: #00beff;
    color: #555;

    span {
      &::before {
        //filter: invert(58%) sepia(63%) saturate(3591%) hue-rotate(163deg) brightness(104%) contrast(109%);
        opacity: 0.8;
      }
    }
  }

  .theme {
    filter: invert(58%) sepia(63%) saturate(3591%) hue-rotate(163deg) brightness(104%) contrast(109%);

    &:hover {
      cursor: pointer;
    }
  }

  .data-infos {
    button {
      background: #FFF2;
      color: #333;

      &:hover {
        color: #00beff;
        box-shadow: 0 0 5px 1px #0003;
      }

      &:active {
        box-shadow: 0 0 2px 3px inset #0001;
        color: #7ebed4;
      }
    }
  }

  .window-options {
    div {
      filter: none;
      opacity: 0.6;
    }
  }
}

.loading-bar {
  .progress {
    background-color: $loading-bar;
  }
}
