@import '../../../assets/colors.scss';
@import 'header.component.dark.scss';
@import 'header.component.light.scss';

.container {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  -webkit-app-region: drag; // Electron draggable mode for frameless window

  .app-infos {
    display: flex;
    flex: auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    z-index: 1;


    span {
      width: fit-content;
      -webkit-app-region: no-drag;
    }
  }

  .app-title {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    z-index: 0;

    span {
      position: relative;
      font-size: 30px;

      &::before {
        position: absolute;
        left: -40px;
        margin-top: 1px;
        content: "";
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url('../../../assets/img/app.png') no-repeat center center;
        background-size: contain;
      }
    }
  }

  .theme {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 10px;
    z-index: 1;
    -webkit-app-region: no-drag;
    background-image: url(../../../assets/img/icons/contrast.png);
  }

  .data-infos {
    height: 100%;
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    z-index: 1;

    button {
      border: none;
      outline: none;
      margin: 0px;
      padding: 0 10px;
      -webkit-app-region: no-drag;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .window-options {
    display: flex;
    padding-right: 15px;

    div {
      width: 18px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 5px;
      z-index: 1;
      -webkit-app-region: no-drag;

      &.close-app-button {
        background-image: url(../../../assets/img/icons/cross.png);
      }

      &.maximize-app-button {
        background-image: url(../../../assets/img/icons/fullscreen.png);
      }

      &.minimize-app-button {
        background-image: url(../../../assets/img/icons/minus.png);
        margin-right: 7px;
      }

      &:hover {
        cursor: pointer;
      }
    }


  }
}

.loading-bar {
  width: 100%;
  height: 3px;
  position: relative;

  .progress {
    left: 0;
    position: absolute;
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
}
