@import '../../../assets/colors.scss';

:host-context(.dark) .container {
  background: black !important;

  .app-infos {
    color: #eee;
  }

  .app-title {
    color: #eee;

    span {
      &::before {
        filter: invert(1);
      }
    }
  }

  .theme {
    filter: invert(1);
  }

  .data-infos {
    button {
      background: #FFF2;
      color: #eee;

      &:hover {
        color: #fff;
        box-shadow: 0 0 5px 1px #0003;
      }

      &:active {
        box-shadow: 0 0 2px 3px inset #0003;
        color: #ddd;
      }
    }
  }

  .window-options {
    div {
      filter: invert(1);
    }
  }
}

.loading-bar {
  .progress {
    background-color: $loading-bar;
  }
}
