<div class="container">
  <div class="infos">
    <div class="header">
      <div class="title"> Boxplot </div>
      <div class="actions">
        <div class="edit" (click)="paramsVisible = !paramsVisible"></div>
        <div class="delete" (click)="emitDeleteEvent()"></div>
      </div>
    </div>
    <div class='params' [ngClass]="paramsVisible ? 'visible' : 'hidden'">
      <mat-form-field>
        <mat-label> Absciss </mat-label>
        <mat-select [value]="x">
          <mat-option *ngFor="let col of cols" [value]="col" (onSelectionChange)="updateX($event)" color="primary">
            {{ col }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="x">
        <mat-label> Categories </mat-label>
        <mat-select [(ngModel)]="selected" multiple>
          <mat-option *ngFor="let cat of categories" [value]="cat" (onSelectionChange)="updateSelected($event)" color="primary">
            {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Ordinate </mat-label>
        <mat-select [value]="y">
          <mat-option *ngFor="let col of cols" [value]="col" (onSelectionChange)="updateY($event)" color="primary">
            {{ col }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="number">
        <input matInput [value]="yMin" (change)="updateYMin($event)" placeholder="y min" type="number" value="0"/>
      </mat-form-field>

      <mat-form-field class="number">
        <input matInput [value]="yMax" (change)="updateYMax($event)" placeholder="y max" type="number" value="0"/>
      </mat-form-field>
    </div>

  </div>

  <div class="plot" [ngStyle]="backgroundImageProperty" *ngIf="!isImageLoading; else noImage"></div>
  <ng-template #noImage>
    <div class="plot">
      <div class="spinner"></div>
    </div>
  </ng-template>
</div>
