@import '../../../../assets/colors.scss';

.container {
  .infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    color: #ddd;

    .title {
      text-align: center;
      color: $table-header;
      margin-bottom: 10px;
    }

    .mat-form-field {
      font-size: 12px;
      max-width: calc(50% - 10px);
    }
  }
}
