<div class="container">
  <div class="infos">
    <div class="header">
      <div class="title"> Histogram </div>
      <div class="actions">
        <div class="edit" (click)="paramsVisible = !paramsVisible"></div>
        <div class="delete" (click)="emitDeleteEvent()"></div>
      </div>
    </div>
    <div class='params' [ngClass]="paramsVisible ? 'visible' : 'hidden'">
      <mat-form-field>
        <mat-label> Absciss </mat-label>
        <mat-select [value]="x">
          <mat-option *ngFor="let col of cols" [value]="col" (onSelectionChange)="updateColumn($event)" color="primary">
            {{col}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="number">
        <input matInput [value]="bins" (change)="updateBins($event)" placeholder="Bin size" type="number" value="0"/>
      </mat-form-field>
    </div>

  </div>

  <div class="plot" [ngStyle]="backgroundImageProperty" *ngIf="!isImageLoading; else noImage"></div>
  <ng-template #noImage>
    <div class="plot">
      <div class="spinner"></div>
    </div>
  </ng-template>

</div>
