<div class="container">
  <div class="spinner" *ngIf="!componentData"></div>

  <table>
    <tr *ngFor="let info of componentData | keyvalue: compareFn">
      <td> {{ info.key }} </td>
      <td> {{ info.value }} </td>
    </tr>
  </table>
</div>