@import '../../../../assets/colors.scss';
@import 'column-infos.component.dark.scss';
@import 'column-infos.component.light.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;

  td {
    &:nth-child(1) {
      &::after {
        content: ":";
      }
    }

    &:nth-child(2) {
      padding: 3px;
      font-family: 'Inconsolata', monospace;
    }
  }
}
