@import '../../../../assets/colors.scss';

:host-context(.dark) .container {
  color: #ddd;
  background-color: $onedark-foreground-alpha;
  box-shadow: 0 0 2px 3px #0002;

  td {
    &:nth-child(1) {
      &::after {
        content: ":";
      }
    }

    &:nth-child(2) {
      color: $table-header;
    }
  }
}
