@import '../../assets/colors.scss';

:host-context(.light) .container {
  background-color: #f3f3f3b8;
  box-shadow: 0px 0px 11px 3px #0006;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    background: url(../../assets/img/gplaypattern.png);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
