<div class='container'>
  <app-header (eventDataset)="refreshHead($event)"></app-header>

  <div class='content'>
    <app-head [dataset]="datasetEvent"></app-head>
    <app-tiles></app-tiles>
  </div>
</div>
