@import '../../assets/colors.scss';
@import 'dashboard.component.dark.scss';
@import 'dashboard.component.light.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 96vh;
  border-radius: 7px 7px 3px 3px;

  margin: 2vh 1vw;
  box-sizing: border-box;
  overflow: hidden;

  backdrop-filter: blur(10px);

  .content {
    padding: 20px 30px;
    margin-bottom: 5px;
    overflow-y: auto;
  }
}
