$onedark-background: #1c1f28;
$onedark-foreground: #2c303d;
$onedark-foreground-alpha: #2c303de5;
$onedark-foreground-alpha2: #2c303df3;

$onedark-graph: #373e4c;
$onedark-red: #e06c75;
$onedark-green: #98c379;
$onedark-yellow: #d19a66;
$onedark-blue: #61afef;
$onedark-purple: #c678dd;
$onedark-cyan: #56b6c2;
$onedark-grey: #abb2bf;

$link: #9fc7ea;
$link-hover: #ddd;
$table-header: #9fc7ea;
$header: #31556b; //#3e7698;

$loading-bar: #69e69b;

