<div class="container">
  <div *ngFor="let styleElem of styles[style | titlecase] | keyvalue"
    [ngClass]="[style, styleElem.key.toLowerCase()]"
    (click)=emitSyleEvent(styleElem.key)></div>
</div>
