@import '../../../../../assets/colors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100px;
  min-height: 100px;
  max-width: 120px;
  color: #ddd;
  background-color: $onedark-foreground-alpha;
  border-radius: 5px;
  box-shadow: 0 0 2px 3px #0002;
  padding: 10px;

  .colors {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 15px;
    border: 1px solid #fff7;
    box-shadow: 0 0 2px 3px #0003;

    &:hover {
      cursor: pointer;
    }

    &.red {
      background-color: $onedark-red;
    }

    &.green {
      background-color: $onedark-green;
    }

    &.yellow {
      background-color: $onedark-yellow;
    }

    &.blue {
      background-color: $onedark-blue;
    }

    &.purple {
      background-color: $onedark-purple;
    }

    &.cyan {
      background-color: $onedark-cyan;
    }

    &.grey {
      background-color: $onedark-grey;
    }
  }

  .markers {
    width: 24px;
    height: 24px;
    margin: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(1);

    &:hover {
      cursor: pointer;
    }

    &.point {
      background-image: url('../../../../../assets/img/icons/markers/point.png');
      background-size: 50%;
    }
    &.triangle {
      background-image: url('../../../../../assets/img/icons/markers/triangle.png');
    }
    &.circle {
      background-image: url('../../../../../assets/img/icons/markers/circle.png');
    }
    &.square {
      background-image: url('../../../../../assets/img/icons/markers/square.png');
    }
    &.plus {
      background-image: url('../../../../../assets/img/icons/markers/plus.png');
    }
    &.star {
      background-image: url('../../../../../assets/img/icons/markers/star.png');
    }
    &.diamond {
      background-image: url('../../../../../assets/img/icons/markers/diamond.png');
    }
    &.none {
      background-image: url('../../../../../assets/img/icons/markers/none.png');
    }
  }

  .lines {
    width: 24px;
    height: 24px;
    margin: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(1);

    &:hover {
      cursor: pointer;
    }

    &.dashed {
      background-image: url('../../../../../assets/img/icons/lines/dashed.png');
    }
    &.solid {
      background-image: url('../../../../../assets/img/icons/lines/solid.png');
    }
    &.dashdot {
      background-image: url('../../../../../assets/img/icons/lines/dashdot.png');
    }
    &.dotted {
      background-image: url('../../../../../assets/img/icons/lines/dotted.png');
    }
    &.none {
      background-image: url('../../../../../assets/img/icons/lines/none.png');
    }
  }
}
