@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Inconsolata|Roboto|Roboto+Condensed');
@import 'assets/colors.scss';
@import '~@angular/material/theming';

@include mat-core();
$custom-theme-primary: mat-palette($mat-blue-grey, 500, 200, 700);
$custom-theme-accent:  mat-palette($mat-blue-grey, 500, 200, 700);
$custom-theme-warn:    mat-palette($mat-red);

$dark-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
$light-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

html {
  border-radius: 10px;
  overflow: hidden;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

  &.light {
    @include angular-material-theme($light-theme);

    .spinner {
      filter: none !important;
      opacity: 0.6;
    }
  }

  &.dark {
    @include angular-material-theme($dark-theme);
  }


  /* Styles specific for when the app is launched with electron */
  &.electron { // TODO: switch ! here should be browser styles, electron styles directly in components
    background-image: none !important;

    &.maximized {
      border-radius: 0px;

      app-dashboard {
        > .container {
          width: 100vw !important;
          height: 100vh !important;
          margin: 0 !important;
          background-color : $onedark-foreground-alpha !important;
          box-shadow: 0px 0px 8px -2px #000a !important;
          border-radius: 0 !important;
        }
      }
    }

    app-dashboard {
      > .container {
        width: calc(100vw - 10px) !important;
        height: calc(100vh - 10px) !important;
        margin: 5px !important;
        background-color : $onedark-foreground-alpha !important;
        box-shadow: 0px 0px 8px -2px #000a !important;
      }
    }

    app-header {
      > .container {
        background: $header !important;
      }
    }
  }
}

a {
  &:link, &:visited {
    color: $link;
  }

  &:hover, &active {
    color: $link-hover;
  }
}

.mat-select-panel {
  background: $onedark-background;
};


@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 50px;
  background: url(./assets/img/spinner.png) no-repeat center center !important;
  background-size: contain !important;
  animation-name: spinning;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: invert(1);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0001;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $header;
  border-radius: 10px;
}
